
body, html {
  font-size: 100%;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
p, b {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #181818;
}

.layer {
  height: 80px;
  width: 100%;
}

h1 {
  font-size: 2.3em;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  padding-top: 100px;
  text-align: center;
}
h2 {
  font-size: 2.5em;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
h3 {
  font-size: 1em;
  color: #3f3f3f;
  padding: 25px 0 5px 0;
  font-family: 'Roboto', sans-serif;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #1e1e1e;
  font-weight: bold;
  margin: 5px 0 5px 0;
}
/* ---nav-- */
.logo_nav_img {
  position: absolute;
  right: 10px;
  width: 190px;
  top:5px;
}
.headline {
  text-align: center;
}
a {
  color: #1e1e1e;
  display: block;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
}
header {
  background-color: #95D3FA;
  position: absolute;
  width: 100%;
  height: 90px;
  z-index: 3;
}
header ul {
  background-color: #000000;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  top: 90px;
  width: 100%;
}

header li a {
  padding: 20px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
header li a:hover,
header .menu-btn:hover {
  color: white;
}
header .logo {
  display: block;
  float: left;
  padding: 5px 0 5px 20px;
  text-decoration: none;
}
header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  background-color: #95D3FA;
}

header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          user-select: none;
}
header .menu-icon .navicon {
  background: #000000;
  display: block;
  height: 3px;
  position: relative;
  -webkit-transition: background 0.25s ease-out;
  transition: background 0.25s ease-out;
  width: 28px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #000000;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 10px;
}

header .menu-icon .navicon:after {
  top: -10px;
}

header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 330px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  
  top: 0;
}
.spacer
{
    width: 100%;
    height: 95px;
}
.spacer1
{
    width: 100%;
    height: 45px;
}
/* ---- Main  ------ */
.headerimg_forside {
  height: 400px;
  background-image: url("../img/VB_headerimg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_forside_h2 {
  color: #f8f8f8;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.705);
  font-weight: 30;
  text-align: center;
  z-index: 1;
}

.ansoeg_btn {
  background-color: #ffffffc7;
  color: #000000;
  padding: 10px 32px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  text-decoration: none;
}

.ansoeg_btn_anchor {
  z-index: 1;
}

/* ------------------- */
.forside {
  background-color:#ffffff;
  background-size: 250%;

}

.forside_container {
  width: 80%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.forside_header {
  text-align: left;
}

.forside_h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 10px;
}
.forside_h3 {
  color: #95D3FA;
  padding: 20px 0 0 0;
}

.forside_line {
  height: 3px;
  width: 45%;
  background-color: #C6E8FE;
}

.forside_p {
  color: #111111;
  padding: 30px 0 30px 0;
}

.forside_img {
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}
.column1 {
  flex-wrap: wrap;
  align-content: center;
  display: flex;
  width: 100%;
  justify-content: center;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin-top: 0px;
  }
}
.column1 {
  flex-wrap: wrap;
  align-content: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

.btninfo {
  border: 2px solid black;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  color: black;
  padding: 10px 22px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 30px;
}
/* Blue */
.btninfo {
  border-color: #95D3FA;
  color: #95D3FA;
}

.btninfo:hover {
  background: #95D3FA;
  color: white;
}
/* - footer - */
footer {
  background: #3f3f3f;
  height: 200px;
  width: 100%;
  margin-top: -10px;
  padding: 30px 20px 0 20px;
  position:sticky;
 
}

.footer_3column {
  font-family: 'Roboto', sans-serif;
  color: #ededed !important;
  font-size: 18px;
  text-decoration: none;
  }
div .column_f a {
color: #ededed;
}
  .column_f {
  float: left;
  width: 33.33%;
}

.fa {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: white; 
  text-align:center; 
}
.fa-instagram {
  color: white;
}


.omb_img {
  max-width:60%;
  height:70;
  
}

@media screen and (max-width: 800px) {
footer {
    height: 300px;
    background-color: #3f3f3f;
  }
  .column_f {
    width: 100%;
  }
  .omb_img {
    max-width:100%;
    height:auto;
    display: flex;
  
  }
}
@media screen and (min-width: 672px) and (max-width: 950px) {
  .logo_nav_img {
    left: 5px;
  }
  .logo_nav_img {
    position: relative;
  }
  /*------------ general -------------- */
  h1 {
    padding-top: 0;
    font-size: 4em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }

  /* --- navigation (ipad og tablets) --- */
  header li {
    float: left;
  }
  header li a {
    padding: 20px 10px 20px 10px;
    font-size: 16px;
  }
  header .menu {
    clear:both;
    float: right;
    max-height: none;
    position:relative;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-36%);
            transform: translateY(-36%);
    background-color: transparent;
  }
  header .menu-icon {
    display: none;
  }
  header ul {
    width: auto;
  }
  .logo_nav {
    float: left;
  }
 
  .headerimg_forside {
    height: 300px;
    background-position: bottom;
  }

  .header_forside_h2 {
    font-weight: 40px;
  }
  .ansoeg_btn {
    padding: 15px 40px;
    font-size: 1.5em;
  }
  /*--- forside ---*/
  .forside {
    height: 90px;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .forside_h3 {
    padding-top: 0;
  }
  .forside_line {
    width: 40%;
    margin: 0;
  }
  .forside_p {
    padding-bottom: 0;
  }
  .forside_img {
    -o-object-fit: cover;
       object-fit: cover;
    padding: 0;
  }

  .forside_container {
    width: 100%;
    max-height: auto;
    display: flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .text_wrapper {
    display: block;
    padding: px;
    width: 50%;
  }
  .img_wrapper {
    padding: 25px;
    width: 50%;
  }

  footer {
    padding: 40px 20px 0 20px;
    height: 200px;
  }
}
.slider {
  width: 50%;
  margin:auto;
}

.slick-slide {
margin: 0px 5px;
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: black;
}
.slick-slide {
transition: all ease-in-out .3s;
}

/* ------ mediaquery desktop ---------- */
@media screen and (min-width: 951px) {
  .logo_nav_img {
    left: 5px;
  }
  h1 {
    padding-top: 0;
    font-size: 3.5em;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
 
  /* ------- navigation (desktop) ------- */
  header li {
    float: left;
  }
  header li a {
    padding-left: 30px;
  }
  header .menu {
    clear: both;
    float: right;
    max-height: none;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-36%);
            transform: translateY(-36%);
  }
  header .menu-icon {
    display: none;
  }
  header ul {
    width: auto;
  }
  .logo_nav {
    float: left;
  }
  .spacer
{
    width: 100%;
    height: 110px;
}
  .headerimg_forside {
    height: 500px;
    background-size: cover;
    background-position: top;
  }
  .header_forside_h2 {
    font-size: 40px;
  }
  .ansoeg_btn {
    padding: 15px 45px;
    font-size: 1.5em;
  }
   /*--- forside ---*/
  .forside {
    height: auto;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .forside_h3 {
    padding: 0;
    margin: 0;
  }
  .forside_line {
    width: 40%;
    padding: 0;
  }
  .forside_p {
    padding-bottom: 0;
  }
  .forside_img {
    -o-object-fit: cover;
       object-fit: cover;
    padding: 0;
  }
  .forside_container {
    width: 100%;
    max-height: auto;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text_wrapper {
    display: block;
    padding: 50px;
    width: 40%;
  }
  .img_wrapper {
    padding: 50px;
    width: 50%;
  }
  .btninfo {
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
    margin-top: 1em;
    display: block;
    color: black;
    padding: 10px 17px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 30px;
  }
  
  /* Blue */
  .btninfo {
    border-color: #95D3FA;
    color: #95D3FA;
  }
  
  .btninfo:hover {
    background: #95D3FA;
    color: white;
  }

  /* ---------- footer (desktop) -------- */
  footer {
    padding: 40px 20px 0 20px;
  }
}
img,
.image-full {
    margin-bottom: 1em;
}
img {
    max-width: 100%;
    display: block;
}

.image-full {
    max-height: 500px;
    width: auto;
    object-fit:contain;
    margin-bottom: 1em;
    margin-left: auto;
  margin-right: auto;
}

.widget-title,
.widget-recent-post-title {
    font-size: 0.9rem;
    line-height: 1;
    margin-left: auto;
  margin-right: auto;
}
.widget-title {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.widget-image {
  max-height: 200px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }
    .main {
        width: 70%;
    }
    .sidebar {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
   
}
.sidebar-widget {
    border: 20px solid #C6E8FE;
    margin-bottom: 1em;
    padding: 0.5em;
}
.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #95D3FA;;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
}
.widget-body {
    margin: 0;
}
.widget-recent-post:last-child {
  border: 0;
  margin: 0;
}
.widget-recent-post:last-child .widget-recent-post-title {
  margin-bottom: 0;
}
.widget-image {
    order: -1;
}

/* FAQ */

:root {
  --ff-primary: "Roboto", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --max-width: 1170px;
  --fixed-width: 700px;
}
.question-btn {
  text-transform: uppercase;
  background: transparent;
  color: black;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid;
  cursor: pointer;
  border-radius: var(--radius);
}
/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
/*
FAQ
*/
.title {
  margin-top: 15vh;
  margin-bottom: 4rem;
}
.title h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.section-center {
  max-width: var(--fixed-width);
}
.question {
  background: white;
  border-radius: var(--radius);
  box-shadow:  1px 1px 1px 2px #b2d0e49d;
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.question-title p {
  margin-bottom: 0;
  font-size: 1.3em;
}
.question-btn {
  font-size: 1.7rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #95D3FA;
  transition: var(--transition);
}
.question-btn:hover {
  transform: rotate(90deg);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 2px solid #c6e8fe;
}
.question-text p {
  margin-bottom: 0;
}
/* hide text til js */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}